body {
  background-color: powderblue;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
  color: steelblue;
}
img {
  max-width: 500px;
  max-height: 450px;
  border-radius: 5px;
}

aside {
  float: right;
  margin-right: 20%;
}

button {
  background-color: transparent;
  margin-left: 30px;
  font-size: xx-large;
  cursor: pointer;
  border: none;
}
.p2,
.p3,
.p4 {
  max-width: 40%;
  margin: auto;
}

.tex {
  display: none;
}
.tex.active {
  display: block;

}
